{% extends 'articles/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Item{% endblock %}
{% block content %}

<style>
.container {
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 30%;
  left: 50%;
}
</style>

<div class="container">
    <div class="row h-100 p-2 g-3 justify-content-center">
        <div class="col-md-4 border p-2 shadow">
            <form  method='POST'>
                <div class="row p-2 g-3">
                    <div class="col-md-12">
                        <h2>Add new subsection</h2>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-md-12 text-center">
                            <br>
                            <button class="btn btn-info" type="submit" name="btn_add">SAVE</button>
                            <a href="/subsections" class='btn btn-info'>CANCEL</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}